@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

:root {
    --cell-size: 20vmin;
    --mark-size: calc(var(--cell-size) * .9);

    --back-color: #333333;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --button-color: #b97720;
    --cell-color: #4c4c4c;
    --round-color: #cfdadc;
    --cross-color: #de372f;

    --section-color: rgba(255, 255, 255, 0.899);
    --section-shadow: rgba(255, 255, 255, 0.662);
}

body {
    background: var(--back-color);
    color: var(--basic-white);
    font-weight: 500;
    font-family: "Roboto";
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}

/* HEADER BLOCK */
header {
    border-bottom: 1px solid var(--basic-white); 
    display: flex;
    justify-content: space-around;
    padding: 2vmin;
    width: 80vmin;
}

    header h1 {
        font-size: 6vmin;
    }

    .header__image { width: 6vmin; height: 6vmin; }
    
    .header__image img { max-width: 100%; }

#game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10vh 0px 5vh;
}

#game div span { font-size: 50px; }

#game .cell {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid var(--basic-black);
}

#game .cell:nth-child(3n+1) { border-left: none; }

#game .cell:nth-child(3n+3) { border-right: none; }

#game .cell:first-child,
#game .cell:nth-child(2),
#game .cell:nth-child(3) {
    border-top: none;
}

#game .cell:nth-child(7), 
#game .cell:nth-child(8), 
#game .cell:last-child {
    border-bottom: none;
}

#game .cell.x::before,
#game .cell.x::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    background: var(--cross-color);
}

#game .cell.x::before { transform: rotate(45deg); }

#game .cell.x::after { transform: rotate(-45deg); }

#game .cell.circle::before, 
#game .cell.circle::after {
    content: "";
    position: absolute; 
    border-radius: 50%;
}

#game .cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background: var(--round-color);
    box-shadow: 2px 2px 2px var(--cell-color);
}

#game .cell.circle::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background: var(--back-color);
}

/* BUTTONS SECTION */
.buttons {
    display: flex;
    flex-direction: column;
}

    .buttons button {
        background: var(--button-color);
        border-radius: 50px;
        color: var(--basic-white);
        font-size: 20px;
        font-weight: 500;
        padding: 10px;
        margin: 20px 0px 0px;
        height: 50px;
        width: 200px;
    }

/* GAME OVER SECTION */
.game-over {
    align-items: center;
    background: var(--section-color);
    box-shadow: 0px 0px 30px var(--section-shadow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    position: fixed;
    margin-top: -75px;
    margin-left: -150px;
    transition: opacity .5s;
    text-shadow: 1px 1px 5px var(--basic-black);
    height: 150px;   
    width: 300px;
}

    .game-over__title { 
        font-size: 30px;
        color: var(--button-color);
        margin: 0px 0px 10px;
        text-shadow: 1px 1px 1px var(--button-color);
    }

    .game-over__text { font-size: 20px; color: var(--basic-white); }

    .game-over__button {
        border-radius: 10px;
        background: var(--button-color);
        color: var(--basic-white);
        font-size: 20px;
        margin: 15px 0px 0px;
        height: 40px;
        width: 200px; 
    }

    .hide { opacity: 0; pointer-events: none; }

@media (max-width: 520px) {
    .buttons button { font-size: 5vmin; }
}

@media (orientation: landscape) {
    .buttons {
        flex-direction: row;
        justify-content: center;
    }
    .buttons button {
        margin: 0px;
    }
    .buttons button:first-child {
        margin: 0px 20px 0px 0px;
    }
}